body {
  display: block;
  margin: 0px;
}

.board-container {
  display: flex;
  /* default no-wrap */
  flex-wrap: wrap;
}
/* flex-wrap: wrap; */
@media screen and (min-width: 768px) {
  .board-container {
    flex-wrap: no-wrap;
  }

}

.card-img {
  width: 100%;
  height: 170px;
  object-fit: cover; /* fill contain cover none scale-down */
  border-radius: 8px;
  background-position: center center;
  background-repeat: no-repeat;
}


/* avatars */
.avatarWrapper {
  overflow: hidden;
  /* background: rgba(0, 0, 0, 0.5); */
}

.avatarWrapper:last-child {
  overflow: visible;
}

.avatar {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
}


/* tag */
.tag {
  width: 60px;
  height: 8px;
  border-radius: 4px;
  margin: 16px 8px 16px 0px;
}

.blue {
  background-color: #0aaaf4;
}

.red {
  background-color: #e33233;
}

.darkblue {
  background-color: #4339f2;
}

.violet {
  background-color: #891be8;
}

.lightgreen {
  background-color: #1ad698;
}

.orange {
  background-color: #f8bd1c;
}

.card-title {
  font-size:16px;font-family:Poppins-Regular, Poppins;
}

.card-subtitle {
  font-size:13px;font-family:Poppins-Light, Poppins;font-weight:300;opacity:0.4;
}

/* stats */
.stat-text {
  font-size:14px;font-family:Poppins-Light, Poppins;font-weight:300;opacity:0.2;
}

.mar-left-8 {
  margin-left: 8px;
}

/* add new card */
.add-new-title {
  text-align: center;
  font-size:16px;font-family:Poppins-Regular, Poppins;
}
